.ourTeam_container {
    width: 100%;
    height: 115vh;
    background-color: #1f1f3b;
}

@font-face {
    font-family: Monsteratt_light;
    src: url(../fonts/Montserrat\ Light.otf);
}

@font-face {
    font-family: Suurce_Sans;
    src: url(../fonts/Source\ Sans\ Pro\ Regular.ttf);
}

.team_title {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    /* background-color: blue; */
    height: 200px;
}

.title h1 {
    font-family: quadrosquare_caps_2013;
    font-size: 45px;
    color: #f0f3f2;
    font-weight: lighter;
    letter-spacing: 2px;
}

.title p {
    font-family: Monsteratt_regular;
    font-size: 16px;
    line-height: 22px;
    color: #b8bac1;
}

.title .newShape_1 {
    margin: 35px 0;
}

.shape_container {
    position: absolute;
    left: 30%;
}

.img1 {
    transform: translateY(-35px);
}

.img2 {
    transform: translateY(-50px);
}

.img3 {
    transform: translateX(27px);
}

.team_card_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 38px;
    display: 100%;
    height: auto;
    /* background-color: red; */
}

.team_cards1 {
    width: 362px;
    height: 408px;
    border: 2px solid #45475e;
    padding: 30px 45px;
    border-bottom: 4px solid #9369fd;
}

.round {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    background-color: #2c2c3c;
}

.team_cards1 h1 {
    font-family: Monsteratt_light;
    letter-spacing: 1px;
    font-weight: lighter;
    line-height: 39px;
    font-size: 23px;
    color: #d4d7da;
}

.team_cards1 h2 {
    font-family: Suurce_Sans;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #a7a7c8;
}

.team_cards1 p {
    font-family: Monsteratt_regular;
    font-size: 13px;
    color: #8997a5;
    line-height: 20px;
}

.btn1_container {
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 230px;
    /* background-color: red; */
}

.btn1_container img {
    position: absolute;
    left: 38%;
}

.image_1 {
    transform: translateY(50px);
}

.image_2 {
    transform: translateY(-50px);
    margin-left: 35px;
}

.image_3 {
    margin-left: 8rem;
    transform: translateY(50px);
}

.image_4 {
    margin-left: 10rem;
    transform: translateY(-50px);
}

.btn1 {
    width: 286px;
    height: 71px;
    border-radius: 35.5px;
    background-color: #9369fd;
    color: #ffffff;
    font-family: Mtavruli;
    border: none;
    font-size: 16px;
    cursor: pointer;
    letter-spacing: 1px;
}